SEERR_URL=http://seerr:5055
SEERR_API_KEY=replace-with-seerr-api-key
PLEX_URL=http://plex:32400
PLEX_TOKEN=replace-with-plex-token
APP_PASSWORD=replace-with-unique-strong-password
SESSION_SECRET=replace-with-random-string-at-least-32-characters
POLL_SECONDS=120
